/.bash_history
/.bash_logout
/.bashrc
/.cache
/.gitconfig
/.local
/.profile
/.python_history
/.ssh
/.vscode-server
/.wget-hsts
/example.txt
/examplequestion
/jenkinsinstallation
/myfirstfile.txt
/newfolder